.container {
  display: flex;
  flex-direction: column;
  width: 70%;

  .triggerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 38px;
    border: 1px solid blue;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 0 8px;
    width: 100%;
    background-color: white;

    .selectedValues {
      font-size: 12px;
    }
  }

  .box {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 8px;
    width: 100%;

    .dropdownControls {
      display: flex;

      .searchInput {
        flex: 1;
        height: 25px;
        border: 1px solid lightsteelblue;
        border-radius: 4px;
        padding: 0 8px;
        box-sizing: border-box;
        margin-bottom: 8px;
        margin-right: 5px;
        font-size: 12px;
      }

      button {
        height: 25px;
        background: white;
        color: darkblue;
        border: 1px solid blue;
        border-radius: 4px;
        padding: 0 5px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-size: 12px;
      }
    }

    .optionsBox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      flex: 1;
    }

    .checkbox {
      display: flex;
      flex-basis: 33%;
    }
  }

}