.container {
  display: flex;
  flex-direction: column;

  .triggerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 38px;
    border: 1px solid #3298dc;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 0 8px;
    width: 100%;
    background-color: white;

    .selectedValues {
      font-size: 12px;
    }
  }

  .box {
    border: 1px solid #3298dc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;

    .actionsContainer {
      display: flex;
      margin-bottom: 8px;

      .searchInput {
        border: 1px solid lightsteelblue;
        border-radius: 4px;
        padding: 0 8px;
        box-sizing: border-box;
        margin-right: 5px;
        font-size: 12px;
      }
    }

    .optionsBox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-height: 180px;
      overflow-y: auto;
      flex: 1;
    }

    .checkbox {
      display: flex;
    }
  }
}

// Extra small devices
@media (max-width: 575px) {
  .actionsContainer {
    flex-direction: column;
  }
  .buttonContainer {
    margin-top: 8px;
  }
  .checkbox {
    flex-basis: 50%;
  }
}

// // Small devices
@media (min-width: 576px) {
  .searchInput {
    flex: 1;
  }
  .checkbox {
    flex-basis: 33%;
  }
}

// // Medium devices
// @media (min-width: 768px) and (max-width: 991px) {

// }

// // Large devices
// @media (min-width: 992px) and (max-width: 1199px) {
//   .infoContainer {
//     max-width: 70%;
//     align-self: center;
//   }
// }

// // Extra-large devices
// @media (min-width: 1200px) {

// }