.container {
  display: flex;
  align-items: center;
  height: 25;
  margin: 8px 0;
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #3298dc;
    border-radius: 4px;
    margin-right: 5px;
    background-color: white;
  }
  .label {
    font-size: 13px;
    user-select: none;
  }
}