.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  flex: 1;
  height: 100vh;
  background-color: #34495e;
}

.Text {
  color: #ecf0f1;
}

.Title {
  text-align: center;
}