.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  flex: 1;
  height: 100vh;
  min-width: 90vw;

}

// Extra small devices
@media (max-width: 575px) {

}

// Small devices
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices
@media (min-width: 768px) and (max-width: 991px) {

}

// Extra-large devices
@media (min-width: 1200px) {

}
