.mainContentContainer {
  flex: 1;
  padding: 20px;
}

// Large devices
@media (min-width: 992px) and (max-width: 1199px) {
  .mainContentContainer {
    background-color: burlywood;
    width: 80%;
    align-self: center;
  }
}